$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$pink-orange: #f66;
$light-orange: #fff2e6;
$light-pink: #ffe6e6;
$button-color: #f99;
$border-color: #b30;
$button-hover: #ff4d4d;
$header-text: #f33;

.navbar {
  background-color: $pink-orange;
}

.btn {
  background-color: $button-color;
  border: 1px;
  border-color: $border-color;
  border-style: solid;
  margin: 10px;
}

.btn:hover {
  background-color: $button-hover;
}

.btn.stores {
  width: 20%;
}

.buttons.nav {
  margin: 0 auto;
}

.content {
  width: 100%;
}

.drinks {
  background-color: $light-pink;
  border: 2px;
  border-color: $border-color;
  border-style: solid;
  float: left;
  font-size: 16px;
  margin: 5px;
  padding: 10px;
  width: 49%;
}

h1 {
  color: $header-text;
  text-align: center;
}
