$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$pink-orange: #f66;
$light-orange: #fff2e6;
$light-pink: #f2f2f2;
$button-color: #f99;
$border-color: #b30;
$button-hover: #ff4d4d;
$header-text: #f33;
$white: #fff;
$black: #000;

body {
  background-attachment: fixed;
  background-color: $black;
  // background-image: url('http://img.photobucket.com/albums/v53/chibi_ynm/tapioca2_zpsreibrwqj.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 3em;
}

h1 {
  color: $header-text;
  font-size: 50px;
  font-weight: bolder;
  position: relative;
  text-align: center;
  text-shadow: 3px 3px $white;
  z-index: 10;
}

.below-hero {
  margin-top: 40em;
}

.navbar {
  background-color: $pink-orange;
}

.btn {
  background-color: $button-color;
  border: 1px;
  border-color: $border-color;
  border-style: solid;
  margin: 10px;
}

.btn:hover {
  background-color: $button-hover;
}

.stores-container {
  margin: 0 auto;
  position: relative;
  width: 100%;
  z-index: 100;

  .stores-container .btn {
    width: 15em;
  }
}

.comment {
  border: 1px solid;
  margin: 5px;
  padding: 5px;
}

.comment-form {
  padding: 0px;
  height: 50px;
  width: 100%;
}

.content {
  align-content: center;
  position: relative;
  width: 100%;
  z-index: 100;
}

.drinks {
  background-color: $light-pink;
  border: 2px;
  border-color: $border-color;
  border-style: solid;
  float: left;
  font-size: 16px;
  height: auto;
  margin: 5px;
  padding: 10px;
  width: 400px;
}

.hero {
  margin-left: -1.1em;
  position: absolute;
  width: 100%;
}

.modal-backdrop {
  z-index: 1020;
}

.navbar-text {
  color: $white;
  font-size: 1.2em;
}
