$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$pink-orange: #f66;
$light-orange: #fff2e6;
$light-pink: #f2f2f2;
$button-color: #f99;
$border-color: #b30;
$button-hover: #ff4d4d;
$header-text: #f33;
$white: #fff;

body {
  background-attachment: fixed;
  background-image: url('http://img.photobucket.com/albums/v53/chibi_ynm/tapioca2_zpsreibrwqj.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  background-color: $pink-orange;
}

.btn {
  background-color: $button-color;
  border: 1px;
  border-color: $border-color;
  border-style: solid;
  margin: 10px;
}

.btn:hover {
  background-color: $button-hover;
}

.btn.stores {
  width: 20%;
}

.content {
  width: 100%;
  align-content: center;
}

.drinks {
  background-color: $light-pink;
  border: 2px;
  border-color: $border-color;
  border-style: solid;
  float: left;
  font-size: 16px;
  height: 180px;
  margin: 5px;
  padding: 10px;
  width: 400px;
}

h1 {
  color: $header-text;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  text-shadow: 3px 3px $white;
}
